<li class="black card" data-row="{{rowcount}}" data-col="{{colcount}}" data-sizex="1" data-sizey="1">
    {{#admin}}
        {{> EditCard}}
    {{/admin}}
    <div class="line">
        {{line}}
    </div>
    {{#hasCondition}}
    <span class="logo short"></span>
    {{/hasCondition}}
    {{^hasCondition}}
    <span class="logo"></span>
    {{/hasCondition}}
    {{#conditions}}
    <div class="condition">{{condition}}
        {{#num}}
        <div class="num">{{num}}</div>
        {{/num}}
    </div>
    {{/conditions}}
</li>
