<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=9, IE=10" >
	</head>	
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
<link href='../public/css/style.css' rel='stylesheet' type='text/css'>
<body>

<div class="board">
<div class="black card">
	<div class="line">
		In Michael Jackson's final moments, he thought about _____________.
	</div>
	<span class="logo"></span>
</div>

<div class="black card">
	<div class="line">
		The Smithsonian Museum of Natural History has just opened an interactive exhibit on __________.
	</div>
	<span class="logo short"></span>
	<div class="conditions">
		<div class="condition">DRAW<div class="num">4</div></div>
		</div>
	</div>

<div class="card black">
	<div class="line">
		Make a Haiku
	</div>
	<span class="logo short"></span>
	<div class="conditions">
	<div class="condition">DRAW<div class="num">2</div></div>
	<div class="condition">PICK<div class="num">3</div></div>
</div>
</div>
</div>

<div class="board">
	<div class="white card">
		<div class="line">
			Fancy Feast &trade;
		</div>
		<span class="logo"></span>
	</div>
	<div class="white card">
		<div class="line">
			An asymmetric boob job.
		</div>
		<span class="logo"></span>
</div>
</body>
</html>
